*{
    font-family: 'Unna', serif;
    letter-spacing: 2px;
    box-sizing: border-box; /*Para que el navegador tenga en cuenta el relleno y el borde*/   
}
body{
    height: 670px;
    background-color: rgb(241, 241, 251);
}
.Inicio{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    top: 40px;
    padding: 0px;
    gap: 40px;
    width: 120px;
    border: 1px solid black;
}
.Mensaje{
    border: 1px solid rebeccapurple;
    
    position: absolute;
    width: 86vw; 
    left: 10vw;
    top: 8vh;
}
.Principal{
    border: 1px solid lawngreen;
    width: 57vw;
    float: left;
}
.TextoUsuario{
    margin: 35px;
    height: 55vh;
    border: 1px solid black;
}
.InputTexto{
    height: 100%;
    width: 100%;
    border: 1px solid red;
    padding: 0px;
    gap: 16px;
    outline: none;
    resize: none;
    padding-left: 20px;
    padding-top: 8px;  
    padding-right: 20px;
    /*border: none;*/
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: rgba(236, 238, 244, 0);
    color: #0a3871; 
}
.InputTexto::placeholder { 
    color: #0a3871; 
}
.advertenciadiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    border: 1px solid orange;
    color: #495057;
}
.Botones{
    border: 1px solid lightseagreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 30px;
    padding: 0px;
    top: 430px;
}
.Encriptar{
    background: #0A3871;
    color: #eef5ff;
    border: 2px solid #D8DFE8;
}
.Desencriptar{    
    background: #D8DFE8;
    color: #0f4281;
    border: 1px solid #0A3871;
}
.Encriptar , .Desencriptar{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    width: 255px;
    height: 67px;
    border-radius: 20px;
}

.Logica{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
    gap: 24px;  
    height: 87vh;
    border: 1px solid blue;
}
.rectangulo{
    width: 100%;
    height: 100%;
    background: #FFFFFF; 
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: 1px solid tomato;
}
#mensaje1,#mensaje2{
    display: grid;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-style: normal;
    text-align: center;
}
#mensaje1{
    width: 90%;    
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin: 2vh 0 0 4.2vw;
    color: #343A40;
    border: 1px solid red;
}
#mensaje2{
    border: 1px solid hotpink;
    width: 80%;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;   
    color: #495057; 
    margin: 0 0 0 8vw; 
}
.muneco{
    width: 60%;
    height: 304px;
    left: 20%;
    top: 72px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .Inicio{
        left: 0;
        top: 0;
        margin: 10% 5%;
    }

    .Principal{
        width: 100%;
    }
    .Encriptar, .Desencriptar{
        width: 100%;
    }
    .Desencriptar{
        background-color: transparent;
    }
    .rectangulo{
        margin-top: 30px;
    }
    .Logica{
        height: 100%;
    }
    .muneco{
        display: none;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) and (max-width: 767px){
    .Inicio{
        left: 0;
        top: 0;
        margin: 6% 5%;
    }

    .Principal{
        width: 100%;
    }
    .Botones{
        justify-content: space-evenly;
    }
    .Desencriptar{
        background-color: transparent;
    }
    .Encriptar , .Desencriptar{
        width: 240px;
    }
    .rectangulo{
        margin-top: 20px;
    }
    .Logica{
        height: 100%;
    }
    .muneco{
        display: none;
    }
    .rectangulo{
        padding: 32px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 990px){
    .Inicio{
        left: 0;
        top: 0;
        margin: 6% 5%;
    }

    .Principal{
        width: 100%;
    }
    .Desencriptar{
        background-color: transparent;
    }
    .Encriptar , .Desencriptar{
        width: 310px;
    }
    .rectangulo{
        margin-top: 20px;
    }
    .Logica, .rectangulo{
        height: 300px;
    }
    .muneco{
        display: none;
    }
    .rectangulo{
        padding: 32px;
    }
    #mensaje1{
        margin-top: 9vh;
    }
}
/* Large devices (laptops/desktops, 991px and up) */
@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .Inicio{
        left: 0;
        top: 0;
        margin: 6% 5%;
    }

    .Principal{
        width: 100%;
    }
    .Desencriptar{
        background-color: transparent;
    }
    .Encriptar , .Desencriptar{
        width: 310px;
    }
    .Logica{
        margin-top: 720px;
    }
    .Logica, .rectangulo{
        height: 300px;
    }
    .muneco{
        display: none;
    }
    #mensaje1{
        margin-top: 12vh;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
      .Inicio{
        left: 0;
        top: 0;
        margin: 6% 5%;
    }

    .Principal{
        width: 100%;
    }
    .Desencriptar{
        background-color: transparent;
    }
    .Encriptar , .Desencriptar{
        width: 310px;
    }
    .Logica{
        margin-top: 720px;
    }
    .Logica, .rectangulo{
        height: 300px;
    }
    .muneco{
        display: none;
    }
    #mensaje1{
        margin-top: 12vh;
    }  
}